body {
  margin:0;
  padding:0;
}

.bg-left { }

.bg-right {
    border-left:1px solid #aaa;
    position:fixed;
    right:0;
    width:50%;
    top:0;
    bottom:0;
    background:#eee;
}

.left {
  display:block;
  float:left;
  position:relative;
  width:50%;
}

.right {
  display:block;
  float:left;
  position:relative;
  width:50%;
  height: auto;
  overflow: visible;
}

.buttons {
  position:absolute;
  right:10px;
  top:15px;
  z-index:5;
}

.button:first-child {
  border-radius:2px 0 0 2px;
}

.button:last-child {
  border-radius:0 2px 2px 0;
  border-right:none;
}

.button {
  font-family: 'Helvetica';
  text-decoration:none;
  background:#7E0000;
  border-right:1px solid #550B0B;
  padding:5px;
  color:#fff;
}

#gist-button, #iframe-button {
  display:none;
}

.button:hover {
  background:#CE0000;
}

/* codemirror */
.button { font-size: 14px; }
.CodeMirror { font-size:20px; }

@media all and (max-width: 800px) {
  .CodeMirror { font-size: 14px !important; }
  .button { font-size: 12px; }
}

.loading {
    background: url(loading.gif);
    background-size:50px 50px;
}
