body {
  margin:0;
  padding:0;
}

.bg-left { }

.bg-right {
    border-left:1px solid #aaa;
    position:fixed;
    right:0;
    width:50%;
    top:0;
    bottom:0;
    background:#eee;
}

.left {
  display:block;
  float:left;
  position:relative;
  width:50%;
}

.right {
  display:block;
  float:left;
  position:relative;
  width:50%;
  height: auto;
  overflow: visible;
}

.buttons {
  position:absolute;
  right:10px;
  top:15px;
  z-index:5;
}

.button {
  margin-right:1px;
  font-family: 'Helvetica';
  text-decoration:none;
  background:#C4DACD;
  padding:8px;
  color:#333;
  transition:all 200ms;
  -webkit-transition:all 200ms;
}

#gist-button, #iframe-button {
  display:none;
}

.button:hover {
  color:#000;
  background:#96ADA0;
}

/* codemirror */
.button { font-size: 14px; }
.CodeMirror { font-size:20px; }

@media all and (max-width: 800px) {
  .CodeMirror { font-size: 14px !important; }
  .button { font-size: 12px; }
}

.loading {
    background: url(loading.gif);
    background-size:50px 50px;
}
